.head{
    width:100%;
    background-image: url('../../images/flowers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    min-height:202px;
    border-radius: 10px 10px 0px 0px;
    color:white;
    text-align:right;
    padding-right:28px;
    font-family: 'Russo One', sans-serif;
}
.head p{
    font-size: 18px;
        font-weight: 400;
        padding-top:114px;
        
}
.head h1{
    font-size: 48px;
        font-weight: 400;
}
@media (min-width:900px){
    .head{
        min-height: 252px;
    }
    .head p{
        padding-top:130px;
        font-size: 24px;
    }
    .head h1{
        font-size:54px;
    }
}